<div id="store_carousel" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active">
        <style type="text/css">
  .item_active {
    max-width: 1200px;
    max-width: 480px;
    }
    </style>
      <!-- class of active since it's the first item -->
      <img src=# alt="" />
      <div class="carousel-caption">
        <p>1Порекомендуйте</p>
      </div>
    </div>
    <div class="item">
      <img src=src=#" alt="first pic" />
      <div class="carousel-caption">
        <p>2Порекомендуйте</p>
      </div>
    </div>
    <div class="item">
      <img src=src=# alt="second pic" />
      <div class="carousel-caption">
        <p>3Порекомендуйте</p>
      </div>
    </div>
    <div class="item">
      <img src=src=# alt="third pic" />
      <div class="carousel-caption">
        <p>3Порекомендуйте</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#store_carousel" data-slide="prev">
      <span id='slide_glyph_left' class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#store_carousel" data-slide="next">
      <span id='slide_glyph_right' class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>