<div id="cart"><h4>Items in your cart:</h4>
	<% if cookies[:cart].present? %>
<% cookies[:cart].split(',').each do |id| %>
			<%= Product.find(id).title %> <br/>
			<%= Product.find(id).price %> <br/>
			<p><%= link_to 'x', id, method: :delete, data: { confirm: 'Are you sure?' } %></p>

			
			<% end %>
			<% end %>
			<%= button_to 'Order', new_order_path, method: :get %>
</div>
