<table>
	<tr>
		<td><%= product.title %> - </td>
		<td><%= number_to_currency(product.price, unit: 'UAH ') %></td> <!-- ,format: '%n %u' for pre or after position if currency indicator -->
		<td><%= product.description %></td>
	</tr>
</table>
<%= button_to 'Add to cart', add_to_cart_product_path(product) %>
<hr>